<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style>
   		.link_style {
   			display: inline-block; 
   			background: green; 
    		color: #fff; 
    		padding: 8px 15px; 
    		text-decoration: none; 
    		border-radius: 3px; 
   		}
   	</style>

</head>
<body>
	<h1 style="margin-left: 30px; margin-top: 30px;">
		ВХОД
	</h1>
	<form method="post" style="margin-left: 30px; margin-top: 30px;">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Войти</button>
	</form>
	<a href="/" style="background: grey; margin-top: 30px; margin-left: 30px;" class="link_style">Вернуться на главную</a>
</body>